:root {
  --bg-color-light1: #dddddd;
  --bg-color-light2: #f2f2f2f2;
  --bg-color-dark1: #000000;
  --bg-color-dark2: #333333;
}

.post {
  width: 50%;
  transform: translate(50%);
  padding: 10px;
  border: 1px solid;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--bg-color-light2);
  min-height: 20rem;
}
